.bg-primary{
    background-color: #1D4775 !important;
    color: #fff !important; 
}

.info-wrapper{
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.info-container{
    border: 1px solid #ccc;
    width: 50vw;
    display: block;
    margin: auto;
    padding: 0px 30px;
}
.info-container .title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0px;
}
.info-container .title h1{
    margin: inherit;
}
.info-container .title a{
    width: 30px;
    height: 30px;
    background-color: #1D4775;
    margin-left: 10px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 2.5px;
}
.info-container .title a i{
    padding: 7px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #fff;
}
.info-container .title a:hover{
    background-color: #1D4775;
    color: #1D4775;
}
.info-container .title a:hover i{
    border-color: #1D4775;
    background-color: #fff;
}
.info-container .registered-events-row,
.info-container .info-row{
    justify-content: center;
    padding-top: 25px !important;
    padding-bottom: 0px !important;
    word-wrap: break-word;
}
.info-container .info-row h2{
    margin: 0px;
    font-size: 1.1rem;
}
.info-container .info-row p{
    font-size: 1.1rem;
    margin: 0px;
}
.info-container .info-content{
    border-top: 1px solid;
    border-color: #c5c5c5;
    padding-bottom: 25px;
}
.info-container .info-content.no-border{
    border-top: 0px;
    border-bottom: 0px;
}
.info-container .registered-events-row{
    justify-content: center;
    padding-top: 25px !important;
    padding-bottom: 0px !important;
    word-wrap: break-word;
}
.info-container .registered-events-row img{
    width: 100%;
}
.info-container .registered-events-row .row{
    padding: 5px 0px;
}
.info-container .registered-events-row h5{
    font-size: 1rem;
    margin: 0px;
}
.info-container .registered-events-row p{
    font-size: 1rem;
    margin: 0px;
    padding-left: 15px;
}
.info-container .registered-events-row .info-col-1{
    display: flex;
    align-items: center;
}
.info-container .registered-events-row .info-col-1 .content{
    width: 100%;
}
.become-a-member-btn{
    display: inline-block;
    background-color: #1D4775;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-top: 4px;
    border-radius: 3px;
}
.become-a-member-btn:hover{
    background-color: rgb(25, 62, 102);
}
.info-wrapper .input-form{
    display: inline-block;
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    border: 1px solid;
    border-color: #b6b6b6;
}
.info-wrapper .input-form:focus{
    border-color: #1D4775;
}
.info-wrapper .input-form.name{
    width: 50%;
}
.info-wrapper .form-btn{
    padding: 8px 15px;
    cursor: pointer;
    background-color: #dddddd;
    color: #1D4775;
    font-weight: bold;
    text-decoration: none;
    border: 0px;
    border-radius: 4px;
}
.info-wrapper .buttons-area{
    text-align: center;
}
@media(max-width: 900px){
    .info-container .info-row p,
    .info-container .registered-events-row p,
    .info-wrapper input,
    .info-wrapper select,
    .info-wrapper textarea{
        padding-left: 0px;
        margin-top: 5px;
    }
    .info-wrapper .input-form{
        width: 100% !important;
    }
}